<div class="ui container">
  {{#link-to 'editComputer' computer.id}}
  {{computer.make}}
  {{computer.type}}
  {{computer.CPU}}
  {{computer.Hardrive}}
  {{computer.RAM}}
  {{computer.price}}
  {{computer.inventory}}

  {{/link-to}}
  <button {{action 'addToCart' computer}}>Add to Cart</button>

</div>
