
{{#each model as |computer|}}
  <div class="ui container">
    {{#link-to 'editComputer' computer.id}} 
    {{computer.make}}
    {{computer.type}}
    {{computer.CPU}}
    {{computer.Hardrive}}
    {{computer.RAM}}
    {{computer.price}}
    {{/link-to}}
  </div>
{{/each}}

<br>
<br>

{{new-computer saveComputer="saveComputer"}}
