<button {{action "login"}}>Login</button>
<div id="modal">
   {{admin-login}}
 </div>

{{display-cart item}}

{{computer-detail computers=model}}

<br>
<br>

<div class="ui segment">
  {{new-computer saveComputer="saveComputer"}}
</div>
